
/* map button 시작 */
#review_button{
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-size: 15px;
}

.review_button_name{
    font-size: 17px;
    background-color: rgb(204, 224, 213);
    color: black;
    border: 3px rgb(110, 73, 36) black;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: sans-serif;
    transition: all 0.4s;
    text-align: center;
    display: inline-block;
}

#map_button_name_pick:focus{
    outline: none;
}

#map_button_name_pick:hover{
    background-color: black;
    color: white;
}